.app-section-ourSpecifications {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.main-card {
  background: transparent !important;
  box-shadow: 0 0 11px #ffff !important;
  padding: 60px 25px;
}
.specification-card {
  text-align: center;
  padding: 25px;
}

.app-section-ourSpecifications img {
  width: unset;
}
.section-header {
  font-family: Oswald;
  font-size: 3rem !important;
  font-weight: 500 !important;
  line-height: 86px!important;
  letter-spacing: 0em!important;
  text-align: center!important;
  color: #ffffff;
}
.subtitle {
  font-family: Roboto Condensed;
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}
.body-text {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
