.app-section-rate {
    border: 1px solid #F5CC00;
    border-radius: 10px;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    max-width: calc(100% - 2em);
    margin: 1em auto;
    overflow: hidden;
    background: white;
    margin: 150px 120px;
}

.app-section-rate-container{
    background: #F5CC00;
    border-radius: 8px;
}

.app-section-rate-container1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.app-section-rate-item{
    display: flex;
    align-items: center;
    background: #F5CC00;
    gap: 6px
}

.app-section-rate-item-clicked{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    padding: 16px 70px;
    gap: 6px
}


table {
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    color: #161515;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 28px;
}

table td {
    text-align: center;
    vertical-align: middle;
    color: #161515;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 28px;
}

th, td {
    border-bottom: 1px solid #C5BDBD;
}