@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.app-section{
    background-image: url('/public/assets/Images/background.png');
    background-size: cover;
    width: 100%;
    height: auto;
}

.app-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}
.app-section-container-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


.app-section-container-title h1 {
    color: #fff;
    font-family: Oswald;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.app-section-container-title p {
    font-family: Roboto Condensed;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
}
.app-section-container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.app-section-container-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 0 85px;
    gap: 74px;
}
.app-section-container-grid-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 280px;
    height: 185px;
    border-radius: 3px;
    border: 8px solid #FCB64C;
    background-image: url('/public/assets/Images/section_info_background.png'); 
    opacity: 0.5;   
    cursor: pointer;
}

.app-section-container-grid-info:hover{
    opacity: 1;   
}

.app-section-container-grid-info h1{
    font-family: Oswald;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 0;
}
.app-section-container-grid-info p{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 0;
}


@media (max-width:1399px)
{
.app-section-container-title h1 {
    font-size: 79px;
}
.app-section-container-title p {
    font-size: 34px;
    line-height: 44px;
}
.app-section-container {
    height: 700px;
}
}
@media (max-width:1199px){
.app-section-container-title h1 {
    font-size: 66px;
}
.app-section-container {
    padding: 0 20px;
    box-sizing: border-box;
}
.app-section-container-title p {
    font-size: 32px;
}
}
@media (max-width:992px){
.app-section-container-title h1 {
    font-size: 50px;
}
.app-section-container-title p {
    font-size: 29px;
    font-weight: 700;
    line-height: 1.4;
    margin: 20px 0 30px;
}
.app-section-container {
    width: 100%;
}
.app-section-container {
    height: 600px;
}

}
@media (max-width:768px){

 .app-section-container-title h1 {
    font-size: 35px;
}   
.app-section-container-title p {
    font-size: 20px;
    margin: 20px 0 30px;
}
}