.app-header{
    padding: 11px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161515;
}

.app-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.app-menu li {
    transition: transform .5s;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    transition: transform .5s;
}

.app-menu li:hover {
    color: #FCB64C;
    transform: scale(1.1);
    cursor: pointer;
}


.app-menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #161515;
    margin-top: 3px;
}
  
.app-menu-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.app-menu-dropdown-content a:hover{
    background-color: #101010;
    color: white
}

.app-menu-dropdown:hover .app-menu-dropdown-content{
    display: block;
}

.app-menu-dropdown-drop{
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.app-lang-container{
    display: flex;
    gap: 40px;
}

.app-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.opend{
    transform: rotate(-180deg);  
    transition: 0.8s;  
    color: yellow  
}

.opend svg path{
    transition: fill 0.3s;
}

.opend svg path{
    stroke: #F5CC00;
}

.opened-colored{
  color: yellow  
}

.app-lang-icon{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
}

.app-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
}

.app-search input{
    padding-left: 30px;
    background: none;
    border: 1px solid white;
    height: 30px;
    color: white;
}

.app-search img{
    position: absolute;
    top: 36%;
    right: 12px;
}


input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: #fff;
}

.MuiSelect-select{
display: flex!important;
align-items: center!important;
gap: 12px!important;

}

.MuiSvgIcon-root {
    top: 6px!important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: #161515;
    display: flex;
    flex-direction: column;
    padding: 0!important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    display: flex;
    gap: 15px
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused{
    padding: 0!important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:after {
    border: unset !important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:before{
    border-bottom: unset!important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused{
    background-color: unset!important ;
}

.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select {
    background-color: unset!important ;
}
.app-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-search input {
    padding-left: 22px;
    height: 42px;
    max-width: 159px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 700;
    font-family: Oswald;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 20px;
}
li.MuiButtonBase-root img {
    border-radius: 50%;
}
body .css-17gq4vl.MuiSelect-select {
    padding: 2px 12px 2px !important;
}
body .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    border-radius: 0;
}
.app-menu-dropdown-drop img {
    top: -3px;
    position: relative;
}


.mobile-menu-icon
{
    display: none;
}

@media (max-width:1600px)
{
 .App {
    overflow-x: hidden;
}
}
@media (max-width:1399px)
{
.app-header {
    padding: 11px 20px;
}
.app-menu {
    gap: 50px;
}
}
@media (max-width:1199px)
{
.app-lang-container {
    gap: 10px;
}
.app-menu li {
    font-size: 18px;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    font-size: 18px;
}
.app-menu {
    gap: 40px;
}
}
@media (max-width:992px){
.app-header {
    padding: 11px 15px;
}
.logo img {
    max-width: 70px;
}
.app-menu {
    gap: 23px;
}
.app-menu li {
    font-size: 16px;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    font-size: 16px;
}  
.app-lang .MuiSelect-select img {
    max-width: 26px;
}
.app-search input {
    max-width: 109px;
}
.app-lang li.MuiButtonBase-root img {
    max-width: 25px;
}

}
@media (max-width:768px){


}