.app-header{
    padding: 11px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.app-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
    color: #000;
}

.app-menu li {
    transition: transform .5s;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    transition: transform .5s;
}

.app-menu li:hover {
    color: #426BB3;
    transform: scale(1.1);
    cursor: pointer;
}


.app-menu-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #161515;
    margin-top: 3px;
}
  
.app-menu-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.app-menu-dropdown-content a:hover{
    background-color: #101010;
    color: white
}

.app-menu-dropdown:hover .app-menu-dropdown-content{
    display: block;
}

.app-menu-dropdown-drop{
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.app-lang-container{
    display: flex;
    gap: 40px;
}

.app-lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.opend{
    transform: rotate(-180deg);  
    transition: 0.8s;  
    color: yellow  
}

.opend svg path{
    transition: fill 0.3s;
}

.opend svg path{
    stroke: #F5CC00;
}

.opened-colored{
  color: yellow  
}

.app-lang-icon{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 6px;
}

.app-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
}

.app-search input{
    padding-left: 30px;
    background: none;
    border: 1px solid rgb(0 0 0 / 10%);
    height: 30px;
    color: #06030A;
}

.app-search img{
    position: absolute;
    top: 36%;
    right: 12px;
}


input:focus::placeholder {
    color: transparent;
}
input::placeholder {
    color: #fff;
}

.MuiSelect-select{
display: flex!important;
align-items: center!important;
gap: 12px!important;

}

.MuiSvgIcon-root {
    top: 6px!important;
}

.MuiPaper-elevation .MuiList-root.MuiList-padding.MuiMenu-list{
    background-color: #426BB3;
    display: flex;
    flex-direction: column;
    padding: 0!important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    display: flex;
    gap: 15px
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused{
    padding: 0!important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:after {
    border: unset !important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:before{
    border-bottom: unset!important;
}

.css-1w8dohr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused{
    background-color: unset!important ;
}

.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select {
    background-color: unset!important ;
}
.app-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.app-search input {
    padding-left: 22px;
    height: 42px;
    max-width: 159px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 400;
    font-family: Oswald;
    color: #000;
}
.app-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
    opacity: 1;
}
.app-search input::-moz-placeholder { /* Firefox 19+ */
    color: #000;
    opacity: 1;
}
.app-search input:-ms-input-placeholder { /* IE 10+ */
    color: #000;
    opacity: 1;
}
.app-search input:-moz-placeholder { /* Firefox 18- */
    color: #000;
    opacity: 1;
}
.css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input.MuiSelect-select .makeStyles-text-2 {
    color: #0c0c0c !important;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.makeStyles-icon-1.MuiSelect-iconFilled.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    fill: #06030A !important;
}
.MuiPaper-elevation.MuiPaper-rounded {
    background: #e1e1e1;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 20px;
}
.app-lang span.jss2 {
    color: #100e0e !important;
}
li.MuiButtonBase-root img {
    border-radius: 50%;
}
body .MuiSelect-select {
    padding: 2px 32px 0 0!important;
}
body .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    border-radius: 0;
}
.app-menu-dropdown-drop img {
    top: -3px;
    position: relative;
}

.app-lang .makeStyles-text-5 {
    color: #000 !important;
}
.app-lang .MuiSelect-icon {
    fill: #000 !important;
}
.app-lang .MuiSelect-icon {
    fill: #000 !important;
}
.mobile-menu-icon
{
    display: none;
}

@media (max-width:1600px)
{
 .App {
    overflow-x: hidden;
}
.app-lang-container {
    gap: 10px;
}


}
@media (max-width:1399px)
{
.app-header {
    padding: 11px 20px;
}
.app-menu {
    gap: 30px;
}
.app-menu li {
    font-size: 18px;
}
}
@media (max-width:1199px)
{
.app-lang-container {
    gap: 10px;
}
.app-menu li {
    font-size: 18px;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    font-size: 16px;
}
.app-menu {
    gap: 17px;
}
.logo img {
    width: 80px;
    height: auto;
}
}
@media (max-width:992px){
.app-header {
    padding: 11px 15px;
}
.logo img {
    max-width: 50px;
}
.app-menu {
    gap: 18px;
}
.app-menu li {
    font-size: 14.2px;
}
body .css-d9oaum-MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
    font-size: 14.2px;
}  
.app-lang .MuiSelect-select img {
    max-width: 26px;
}
.app-search input {
    max-width: 99px;
    padding-left: 8px;
}
body .MuiSelect-select {
    padding: 2px 22px 0 0!important;
}
.app-lang li.MuiButtonBase-root img {
    max-width: 25px;
}
.app-lang-container .MuiSelect-select {
    gap: 7px!important;
}
.app-lang .MuiSelect-icon {
    right: 0;
}
}
@media (max-width:768px){

.app-search {
    display: none;
}
.mobile-menu-icon {
    margin: 0 15px 0 auto;
    width: 30px;
    display: inline-flex;
    cursor: pointer;
}
.mobile-menu-icon img {
    width: 100%;
    height: auto;
}
.app-menu {
    gap: 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 67px;
    background: #fff;
    flex-wrap: wrap;
    display: none;
}
.app-menu.open {
    display: block;
}
.app-menu li {
    width: 100%;
    padding: 3px 13px;
}
.app-menu li:hover {
    transform: scale(1);
}
}