.app-footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 10px 35px; 
    background: #fff;
    color: #000;
}

.app-footer-title{
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;    
}
.app-footer-menu h4 {
    color: #161515;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.app-footer-container{
    display: flex;
    justify-content: space-between;
}
.app-footer-menu-container{
    display: flex;
    gap: 148px;
    align-items: space-between;
}

.app-footer-subscribe{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}
.app-footer-subscribe input {
    border: 1px solid #FFC83D;
    border-radius: 5px;
    background: none;
    color: none;
    padding: 10px 110px 10px 10px;
    height: 27px;
}

.app-footer-subscribe input{
    color: #FFFFFF;
}

.app-footer-subscribe input::placeholder{
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.app-footer-menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px;
    min-width: 510px;
}

.app-footer-menu-items{
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 10px;    
    padding: 0;
    margin: 0;
    flex-direction: column;
}
.app-footer-logo {
    width: 490px;
}
.app-footer-menu-items2 {
    list-style-type: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 27px;
    margin: 0;
    padding: 0;
}
.app-footer-menu-inner {
    display: flex;
}
.app-footer-menu-items li,
.app-footer-menu-items2 li{
    color: #161515;
font-family: Roboto Condensed;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 222.222% */
    letter-spacing: 0em;
    transition: transform .5s;
}

.app-footer-menu-items li:hover {
    color: #426BB3;
    cursor: pointer;
}

.app-footer-contact-with {
    display: flex;
    flex-direction: column;
    gap: 14px;
    border: 0px solid #426BB3;
    border-radius: 7px;
    padding: 0;
    margin-bottom: 40px;
}
.app-footer-contact-with-item {
    color: #161515;
    font-family: Roboto Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.app-footer-contact-with-item a {
    color: unset;
    text-decoration: unset;
}
.app-footer-contact-with-item a img {
    vertical-align: middle;
    margin: 0 6px 0 0;
}
.app-footer-contact-with h5 {
    color: #161515;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px;
}
.app-footer-container-year {
    text-align: center;
    padding: 45px 10px 10px;
    border-top: 1px solid #16151529;
    margin-top: 30px;
    color: #161515;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.app-footer .container {
    display: flex;
    flex-direction: column;
}
@media (max-width:1400px)
{
.app-footer-logo {
    width: auto;
}  
}
@media (max-width:1200px)
{
.app-footer-menu {
    min-width: 400px;
} 
}
@media (max-width:992px)
{
.app-footer-menu-container {
    gap: 68px;
}
.app-footer-menu {
    min-width: 320px;
}
.app-footer {
    padding: 50px 20px 15px;
}
.app-footer-container-year {
    margin-top: 30px;
    font-size: 18px;
    padding-top: 25px;
}
}
@media (max-width:768px)
{
.app-footer-logo img {
    width: 80px;
}
.app-footer {
    padding: 20px 20px 15px;
}
}
@media (max-width:640px)
{
.app-footer-menu-container {
    gap: 20px;
    flex-direction: column;
}
.app-footer-container {
    flex-direction: column;
    gap: 40px;
}
.app-footer-contact-with {
    margin-bottom: 20px;
}
}