.app-section-faq {
  padding: 25px;
}

.app-section-faq .card {
  background: transparent !important;
}

.MuiPaper-elevation.MuiPaper-rounded {
  background: #000000;
  color: #fff;
  border-bottom: solid 1px #ffffff29;
}

.MuiAccordionSummary-expandIconWrapper {
  color: #fff;
}

.MuiCollapse-entered {
  background: rgb(211 202 202 / 14%);
}
.MuiSvgIcon-colorPrimary{
    color: #ffffff !important;
}